[build]
  command = "npm run build"
  publish = "dist"

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/render"
  status = 200

[functions]
  directory = ".netlify/functions"
  node_bundler = "esbuild"
  external_node_modules = ["bcryptjs", "jose", "@supabase/supabase-js"]
